*{
    box-sizing: border-box;
}
header{
    background: rgb(190, 115, 1);
    color: darkgray;
    padding: 2rem 0;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;

}h1{
    color: rgb(0, 0, 0);
    line-height: 1.3em;
    font-size:2rem 
}

body{
    font-family: georgia, times, serif;
    color: rgb(255, 255, 255);
    font-size: 1.0rem;
    line-height: 2.0em;
    margin: 0;
}
p {
    margin-bottom: 1.6em;
}
.titulo{
    
    line-height: 5em;
    font-size:2rem;
    font-style: italic;
    
}

.container{
    width: 50%;
    max-width: 850px;
    margin: 0 auto;
}


.logo-navContanier{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.logo{
   height: 80px;


}
.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.navigation ul li{
    display: inline-block;
}
.navigation ul li a{
    display:block;
    padding: 0.5rem 1rem ;
    transition: all 0,5s;
    border-radius: 10px;
}


.footer{
    background: rgb(142, 143, 143);
    padding: 4rem 0;
    text-align: center;
    margin-top: 6rem;
}
.main{
    padding-top: 12rem;
}
.imagen1{
    margin-left: 250px;
}/*diseño registro*/
.Registro-Agregar{
    width: 400px;
    background: rgb(235, 175, 12);
    padding: 30px;
    margin: auto;
    margin-top: 30px;
    border-radius: 4px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
/*inputs*/
.control{
    width: 100%;
    background: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
}
.fomr-register .Boton{
     width: 100%;
     background: cornflowerblue;
     padding: 12px;
     border: none;
     color: cornsilk;
     font-size: 16px;
     margin: 16px 0px;

}.Boton{
    width: 100%;
    color: blue;
}


